
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


body {
	font-family: "Roboto",Helvetica,Arial, sans-serif;
	margin: 0;
}



.page {
  width: 900px;
  margin: 0 auto;
}






.demo-title {
	color: #888;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
  padding-bottom: 0.5rem;
}

.demo {
	padding: 16px;
}

.demo-item {
	width: 50%;
  float: left;
  padding: 2rem;
/*  margin: 1rem;*/
/*	padding: 8px;
	border: 1px solid #ddd;*/
}

.demo-item a {
	display: block;
}

.demo-item a:hover {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}


.demo-item img {
	width: 100%;
}

.demo-item h3 {
	color: #444;
	margin: 8px 0;
	text-align: center;
}
