

* {
    box-sizing: border-box;
}


body {
	font-family: "Roboto",Helvetica,Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 13px;
}




/*
.header {
	display: table;
	width: 100%;
	padding: 8px 16px;
	background-color: #37474f;
}

.header > h3 {
	float: left;
	color: #37474f;
	text-transform: uppercase;
	font-size: 18px;
	padding: 8px 0;
	margin: 0;
	color: #aaa;
}

.header > h3 span {
  color: #fff;
}


.header > nav {
	float: left;
}

.header a:hover {
	text-decoration: underline;
}
*/


.page-footer {
	border-top: 1px solid #ccc;
	color: #888;
	font-size: 12px;
	text-align: center;
}


/*
.menu {
	list-style: none;
	margin: 0;
}

.menu > li {
	float: left;
	padding: 8px 20px;
}

.menu > li > a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}


.github {
	float: right;
	padding: 16px;
}

.github > a {
	color: #fff;
	text-decoration: none;	
}

.github > a > i {
	margin: 0 8px;
}
*/

.banner {
/*	width: 90%;*/
	margin: 0 auto;
	/*background-color: #607d8b; /*#78909c;*/
	color: #444;
	padding: 70px 0;
	clear: both;
	border-bottom: 1px solid #ccc;
	background: url('fabric_of_squares_gray.png');
}


.banner h1 {
	font-size: 56px;
	text-align: center;
}


.banner p {
	font-size: 24px;
	text-align: center;
}


.banner > div {
	padding-top: 24px;
	text-align: center;
}

.banner > div > a {
	margin: 10px 40px;
	padding: 8px 16px;
/*	background-color: #607d8b; /*#78909c;*/
	width: 128px;
	color: #666;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
}


.banner a > i {
	margin-right: 8px;
}

.banner a:hover {
	background-color: #f0f0f0; /*#90a4ae;*/
}


.description {
	display: table;
	width: 80%;
	margin: 0 auto;
}


.description p {
	color: #888;
}

.description > div {
	display: table-cell;
	padding: 32px;
}

.description > div:first-child {
	padding-left: 0;
}

.description > div:last-child {
	padding-right: 0;
}

.description h3 {
	text-transform: capitalize;
}

.description h2 {
	color: #444;
}



.banner a.download {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}

.banner a.download:hover {
  background-color: #449d44;
  border-color: #398439;
  color: #fff;
}



