

* {
    box-sizing: border-box;
}


body {
	font-family: "Roboto", "Lato",Helvetica,Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
}



pre {
}



/*
.header {
	display: table;
	width: 100%;
	padding: 8px 16px;
	background-color: #37474f;
}

.header > h3 {
	float: left;
	color: #37474f;
	text-transform: uppercase;
	font-size: 18px;
	padding: 8px 0;
	margin: 0;
	color: #aaa;
}

.header > h3 span {
  color: #fff;
}


.header > nav {
	float: left;
}

.header a:hover {
	text-decoration: underline;
}
*/


.page {
  width: 900px;
  margin: 0 auto;
}



.before {
	margin-right: 0.6em;
}



.page-footer {
	border-top: 1px solid #ccc;
	color: #888;
	font-size: 12px;
	text-align: center;
}


/*
.menu {
	list-style: none;
	margin: 0;
}

.menu > li {
	float: left;
	padding: 8px 20px;
}

.menu > li > a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}


.github {
	float: right;
	padding: 16px;
}

.github > a {
	color: #fff;
	text-decoration: none;
}

.github > a > i {
	margin: 0 8px;
}
*/

.banner {
/*	width: 90%;*/
	margin: 0 auto;
	/*background-color: #607d8b; /*#78909c;*/
	color: #444;
	padding: 2rem 0;
	clear: both;
	border-bottom: 1px solid #ccc;
/*	background: url('fabric_of_squares_gray.png');*/
}


.banner h1 {
	font-size: 56px;
	text-align: center;
}


.banner p {
	font-size: 2rem;
	text-align: center;
  color: #aaa;
}


.banner > div {
	padding-top: 24px;
	text-align: center;
}

.banner > div > a {
	margin: 10px 40px;
	padding: 8px 16px;
/*	background-color: #607d8b; /*#78909c;*/
	width: 128px;
	color: #666;
	border: 1px solid #ccc;
/*	border-radius: 4px;*/
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
  display: inline-block;
}


.banner a > i {
	margin-right: 1rem;
}

.banner a:hover {
	background-color: #f0f0f0; /*#90a4ae;*/
}


.description {
	display: table;
/*	width: 80%;*/
	margin: 0 auto;
}


.description p {
	color: #444;
  font-size: 1rem;
}

.description > div {
/*	display: table-cell;*/
	padding: 32px;
  float: left;
  width: 50%;
}

/*
.description > div:first-child {
	padding-left: 0;
}

.description > div:last-child {
	padding-right: 0;
}
*/

.description h3 {
	text-transform: capitalize;
}

.description h2 {
	color: #444;
  font-size: 1.6em;
  font-weight: normal;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.description .icon {
  background-color: #0288d1;/*#5cb85c;*/
  color: #fff;
  padding: 0.4rem;
  border-radius: 2px;
  opacity: 0.9;
/*  display: none;*/
}



.banner a.download {
/*  background-color: #5cb85c;*/
  border: transparent;
/*  border-color: #4cae4c;*/
/*  color: #0288d1;
  background-color: rgba(0,0,0,0.02);*/
  background-color: #0288d1;
  color: #fff;
}

.banner a.download:hover {
/*  background-color: #449d44;
  border-color: #398439;
  color: #fff;*/
  background-color: #0176B5;

}




.divider {
	border-bottom: 1px solid #ccc;
}


.quickstart {
	width: 600px;
	margin: 32px auto;
}


.quickstart h2 {
	color: #444;
	margin-bottom: 32px;
}

.quickstart h3 {
	color: #444;
	margin-bottom: 0;
}

.quickstart pre {
	margin: 0;
}

.quickstart > span {
	margin-top: 16px;
	color: #888;
	display: block;
}
