
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
	font-size: 14px;
	height: 100%;
}


body {
	font-family: "Roboto", "Lato",Helvetica,Arial, sans-serif;
	margin: 0;
}

button {
	font-family: "Roboto", "Lato",Helvetica,Arial, sans-serif;
	margin: 0;
}

input, a {
	font-family: "Roboto", "Lato",Helvetica,Arial, sans-serif;
}




.page {
  width: 900px;
  margin: 0 auto;
}




.page-header {
	display: table;
	width: 100%;
/*	background-color: #37474f;*/
	padding: 1rem 10px;
  margin-bottom: 2rem;
}

.page-header > h3 {
	float: left;
	color: #aaa;
	text-transform: uppercase;
	font-size: 18px;
	padding: 14px 0;
	margin: 0;
}

.page-header > h3 > span {
  color: #0288d1;
}




.page-header > nav {
	float: right;
  text-align: center;
}

.page-header a:hover {
	/*color:  #0288d1; /* #e51c23;*/
}

/*
.header > h3 span {
  color: #e51c23;
}
*/

.page-menu {
	list-style: none;
	margin: 0;
}

.page-menu > li {
	float: left;
  display: inline-block;
  color: #666;
}


.page-menu > li.selected {
  border-bottom: 2px solid #0288d1;
  color: #222;
}


.page-menu > li > a {
  color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	padding: 18px 20px;
	float: left;
}

.page-menu > li:hover {
/*	background-color: #455a64;*/
}




.github {
	float: right;
	padding: 16px;
}

.github > a {
	color: #444;
	text-decoration: none;
}

.github > a > i {
	margin: 0 8px;
}
