

body {
	padding: 0;
	margin: 0;
/*	font-family: 'Open Sans', sans-serif;*/
/*	font-family: Helvetica,Arial,sans-serif;*/
/*	font-family: 'Roboto', sans-serif;*/
	font-size: 13px;
/*	font-size: 0.8em;*/
}


input[type="checkbox"] {
	margin-left: 0;
	margin-right: 0;
}


/*
.page-header {
	background-color: #112028;
}

.page-header h3 {
	text-transform: uppercase;
	color: #fcfcfc;
	margin: 5px 20px;
}

.page-header > * {
	display: inline-block;
}

.page-header > nav > p {
	display: inline-block;
	margin-left: 20px;			
}

.page-header > nav a {
	text-transform: uppercase;
	font-size: .7em;
	text-decoration: none;
	color: #fcfcfc;
}

.page-header a:hover {
	color: #0a80cb;
}


.page-header-ex > * {
	display: inline-block;
}

.page-header-ex {
	padding: 20px;
	background-color: #152832;
	color: #fcfcfc;
	z-index: 100;
}

#page-title {
	width: 250px;
}

#page-info {
	width: 40%;
}

#page-info h4 {
	display: inline;
	font-weight: normal;
}

#page-info span {
	font-size: .7em;
}

#page-info div {
	display: inline;
	border-right: 1px solid #fcfcfc;
	margin: 0 10px;
	font-size: 0.7em;
}

#github {
	float: right;
	margin: 15px 20px;
	color: #fcfcfc;
}

#github a {
	color: inherit;
	text-decoration: none;
	font-size: .8em;
	margin-left: 5px;
}
*/


.page-content {
	display: table;
	width: 100%;
/*	position: relative;*/
}

.page-content > aside {
/*	background-color: #f2f4f6;*/
	background-color: #F8F8F8;
	border-right: 1px solid #eee;
	width: 250px;
/*	float: left;*/
}

.page-content > div {
/*	margin-left: 250px;*/
}


.page-content > * {
	display: table-cell;
	vertical-align: top;
}


.under-construct {
  background-color: #ffd54f;
  color: #444444;
  margin: 5px auto;
  padding: 20px;	
}

.under-construct .message {
	margin-left: 10px;
}




/*
#content-menu {
	list-style-type: none;
	font-size: 0.8em;
	margin: 0;
	padding: 10px 0;
	border-right: 1px solid #eee;
}

#content-menu ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0px;			
}		

#content-menu li {
	padding: 0;
	cursor: default;
}

#content-menu li a {
	padding: 5px;
	font-size: 1.2em;
	color: inherit;
	text-decoration: none;
	display: block;
	outline-style: none;
	padding-left: 20px;
}

#content-menu > ul > li > ul > li a {
	padding-left: 40px;	
}


#content-menu .list-tree a {
	cursor: default;
	border-left: 3px solid #f2f4f6;
}

#content-menu .list-tree a:hover {
	border-color: #0a80cb;
	color: #0a80cb;
}



#content-menu > .list-tree {
	margin-bottom: 4px;
}

*/


/*
aside {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #F8F8F8;
	border-right: 1px solid #eee;
}
*/


#content-menu {
}


#content-menu > div {
	padding: 8px 0px 6px 20px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: #aaa;
}




#samples {
	padding: 0 20px;
}







pre {
	margin: 0;
}


.sample > .tab-panel > div {
	padding: 20px;
}


.sample {
  display: inline-block;
  width: 100%;	
}


.sample > header > .panel-title {
	color: #aaa;
	font-size: 16px;
}






/*
.panel > header {
	display: inline-block;
	width: 100%;
}
*/



/*
.panel > header, .panel > footer {
	display: table;
}

.panel > header > .tool-bar, .panel > footer > .tool-bar {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.panel > header > .tool-bar.right, .panel > footer > .tool-bar.right {
	text-align: right;
}

.panel > header > .tool-bar.left, .panel > footer > .tool-bar.left {
	text-align: left;
}

.panel > header > .tool-bar.center, .panel > footer > .tool-bar.center {
	text-align: center;
}



.panel > header > .panel-title {
	display: table-cell;
	width: 1%;	
	vertical-align: middle;
}
*/






.my-widget {
	background-color: #e8e8e8;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 8px;
	margin: 8px;
}


.my-widget > div {
	padding: 8px;
	margin: 8px;
	background-color: #f0f0f0;
	border-radius: 2px;
	border: 1px solid #ccc;
}


.my-widget > div > div > div {
	padding: 8px;
	margin: 8px;
	background-color: #f8f8f8;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.my-widget > div > div > div > div > div {
	padding: 8px;
	margin: 8px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;
}







.demo-table {
	width: 100%;
}


.demo-table tr th {
	border-bottom: 2px solid #ccc;
	padding: 6px;
	text-align: left;
}

.demo-table tr td {
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
	padding: 6px;
}




.demo-section {
	color: #888;
	padding: 8px 0;
	border-bottom: 1px solid #ccc;
}






.menu-bar > li > img {
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 16px;
	vertical-align: middle;
	margin: 9px;
}

/*
.user > a {
	text-decoration: none;
	color: #777;
	position: relative;
	padding: 15px 0;
	float: right;
}

.user:hover > a {
	color: #333;
}
*/
.username > a {
	padding-left: 0 !important;
}




/*
th.resizable:after {
  bottom: 0;
  content: "";
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  background-color: #bbb;	
}
*/



/*
.column-dropdown:not(.opened) {
	display: none;	
}

.column-dropdown {
	cursor: pointer;
	padding: 8px 6px;
	position: relative;
	vertical-align: middle;
	display: table-cell;
}

.column-dropdown:hover {
	color: #2980b9;
}

.column-dropdown > .dropdown-toggle > .caret {
	margin: 0;
}

th:hover > .column-dropdown {
	display: table-cell;
}
*/




/*
.tool-bar.right > * {
	float: right;
}

.tool-bar.left > * {
	float: right;
}
*/







/*
 * STEP-BOX
 */

/*
ul.step-list {
  list-style: none outside none;
  margin: 0;
  padding: 10px 0;
  counter-reset: idx;
}


ul.step-list > li {
	position: relative;
}


.step-list > li > a:before {
  background-color: #FFFFFF;
  border-radius: 12px;
  color: #BBBBBB;
	counter-increment: idx;	
  content: counter(idx);
  display: inline-block;
  font-weight: bold;
  height: 24px;
  line-height: 20px;
  margin-right: 10px;
  text-align: center;
  width: 24px;
  float: left;
}




ul.step-list > li.selected {
	background-color: #ddd;
}

ul.step-list > li.selected > span {
	display: block;
}

ul.step-list > li > a {
	color: #444;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}

ul.step-list > li > span {
	border-right: 10px solid #fff;
	border-top: 10px solid rgba(255,255,255,0);
	border-bottom: 10px solid rgba(255,255,255,0);
	display: none;
	height: 20px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
}





.step-box {
	position: relative;
	padding: 0;
}

.step-box > aside {
  bottom: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 200px;
  background-color: #eee;
	padding: 10px 0;
  
}


.step-box > aside > i {
	margin: 10px 0;
	color: #888;
}

.step-box > aside > ul {
	text-align: left;
}

.step-box > div {
	margin-left: 200px;
	padding: 10px;
}
*/






/*
.tool-bar {
	padding: 4px;
}
*/

/*
.grid-pagination > .btn {
  height: 28px;
  padding: 0;
  width: 28px;	
}

.grid-pagination > input {
	height: 28px;
}
*/


.avatar {
	width: 48px;
	height: 48px;
	border-radius: 48px;
}




.widget {
	margin: 8px;
}








/*
table.grid-view td {
	color: #444;
  border-bottom: 1px solid #ddd;
  padding: 8px;	
}

table.grid-view th {
  color: #444;
  font-weight: bold;
	padding: 8px;
  text-align: left;
  
}
*/

/*
table.grid-view thead {
	background-color: #eee;  	
}
*/


.table-view td {
	color: #444;
  border-bottom: 1px solid #ddd;
  padding: 8px;	
}

.table-view th {
  color: #444;
/*  border-right: 1px solid #DDDDDD;*/
  font-weight: bold;
	padding: 8px;
  text-align: left;
  
}


/*
table.table-view thead {
	background-color: #eee;  	
}
*/







.pull-right {
	float: right;
}




/*
.table-grid.list-view td {
	color: #444;
  border-bottom: 1px solid #ddd;
  padding: 12px;	
}

.table-grid.list-view th {
  color: #bbb;
  font-size: 85%;
  padding: 12px;
  text-align: left;
  text-transform: uppercase;	
}
*/


/*
.growl-list > * {
	opacity: 0;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}


.growl-list > .fade {
   opacity: 1;
}
*/



ul.list-view {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.list-view li, .list-view-item {
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
	list-style: none;
}

.list-view-item.drag {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.075);
	background-color: #fff;
}


/*
.drag {
	transition: all 0.05s linear 0s
}
*/


.item-box {
	position: relative;	
}

.item-box > .before {
	float: none;
	position: absolute;
	top: 50%;
	left: 0;
}

.item-box > .after {
	float: none;
	position: absolute;
	top: 50%;
	right: 0;
}



.list-box {
	color: #444;
}

.list-box > div {
	padding: 8px 8px;
	border-bottom: 1px solid #e0e0e0;
}

.list-box .remove-btn {
	right: 16px;
}



.icon-box {
	padding: 4px;
	border-radius: 2px;
}

.icon-box.warning {
	color: #fff;
  background-color: #F0AD4E;
}




.tool-box {
	padding: 8px;
}

.tool-box > *:not(:first-child):not(:last-child) {
	margin: 0 8px;
}










.gallery-preview img {
	display: block;
	margin: 0 auto;
/*  transition: all 0.25s ease-in-out 0s;*/
}


.gallery-slider {
	overflow: hidden;
	padding: 16px 0;
}

.gallery-slider img {
	height: 100px;
	opacity: 0.7;
  transition: all 0.15s ease-in-out 0s;
  vertical-align: middle;
	border: 4px solid transparent;
	cursor: pointer;
}

.gallery-slider img:not(:last-child) {
	margin-right: 4px;
}


.gallery-slider img:hover {
	opacity: 1;
}

.gallery-slider img.selected {
/*	height: 120px;*/
	opacity: 1;
	border-color: #ccc;
	
/*	margin: 0 8px;*/
}

.gallery-slider > div {
  transition: margin 0.25s ease-in-out 0s;	
}

.slider-button {
	width: 48px;
}





.hidden {
	display: none !important;
}





/*
[layout="item"] > .addon.pull-right {
	right: 0;
}
*/
