
html {
	font-size: 14px;
	height: 100%;
}


body {
	padding: 0;
	margin: 0;
/*	font-family: 'Open Sans', sans-serif;*/
/*	font-family: Helvetica,Arial,sans-serif;*/
/*	font-family: 'Roboto', sans-serif;*/
	font-size: 14px;
	color: #333;
	height: 100%;
/*	font-size: 0.8em;*/
}


input[type="checkbox"] {
	margin-left: 0;
	margin-right: 0;
}



body > div {
	height: 100%;
}




.page-content {
	display: table;
/*	width: 100%;*/
/*	position: relative;*/
	height: calc(100% - 51px);
}

.page-content > aside {
/*	background-color: #f2f4f6;*/
	background-color: #F8F8F8;
	border-right: 1px solid #eee;
	width: 250px;
/*	float: left;*/
}

.page-content > div {
/*	margin-left: 250px;*/
}


.page-content > * {
	display: table-cell;
	vertical-align: top;
}


.under-construct {
  background-color: #ffd54f;
  color: #444444;
  margin: 5px auto;
  padding: 20px;
}

.under-construct .message {
	margin-left: 10px;
}







.demo-section {
	color: #444;
	padding: 8px 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 32px;
}

.demo-section:not(:first-child) {
	margin-top: 40px;
}

/*
.demo-section > * {
	display: inline-block;
	margin: 0;
}
*/

.demo-section h3 {
	margin: 0;
	font-size: 18px;
}


.demo-section .icon {
	margin-right: 8px;
	font-size: 18px;
	color: #888;
}

.demo-section .description {
	margin-top: 8px;
}






.slidable {
	position: relative;
	overflow: hidden;
}


.list.slide {
	top: 0;
	transition: left 0.25s ease-in-out 0s;
	left: 0;
	width: 100%;
}


.list.slide.off {
	left: 100%;
}






/*
#content-menu {
	list-style-type: none;
	font-size: 0.8em;
	margin: 0;
	padding: 10px 0;
	border-right: 1px solid #eee;
}

#content-menu ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
}

#content-menu li {
	padding: 0;
	cursor: default;
}

#content-menu li a {
	padding: 5px;
	font-size: 1.2em;
	color: inherit;
	text-decoration: none;
	display: block;
	outline-style: none;
	padding-left: 20px;
}

#content-menu > ul > li > ul > li a {
	padding-left: 40px;
}


#content-menu .list-tree a {
	cursor: default;
	border-left: 3px solid #f2f4f6;
}

#content-menu .list-tree a:hover {
	border-color: #0a80cb;
	color: #0a80cb;
}



#content-menu > .list-tree {
	margin-bottom: 4px;
}

*/


/*
aside {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #F8F8F8;
	border-right: 1px solid #eee;
}
*/


#content-menu {
	width: 300px;
}


#content-menu > div {
	padding: 8px 0px 6px 20px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: #aaa;
}




#samples {
	padding: 0 20px;
	width: 900px;
}







pre {
	margin: 0;
}


.sample > .tab-panel > div {
	padding: 20px;
}


.sample {
  display: inline-block;
  width: 100%;
	padding: 20px;
}


.sample > header > .panel-title {
	color: #aaa;
	font-size: 16px;
}






/*
.panel > header {
	display: inline-block;
	width: 100%;
}
*/



/*
.panel > header, .panel > footer {
	display: table;
}

.panel > header > .tool-bar, .panel > footer > .tool-bar {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.panel > header > .tool-bar.right, .panel > footer > .tool-bar.right {
	text-align: right;
}

.panel > header > .tool-bar.left, .panel > footer > .tool-bar.left {
	text-align: left;
}

.panel > header > .tool-bar.center, .panel > footer > .tool-bar.center {
	text-align: center;
}



.panel > header > .panel-title {
	display: table-cell;
	width: 1%;
	vertical-align: middle;
}
*/






.my-widget {
	background-color: #e8e8e8;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 8px;
	margin: 8px;
}


.my-widget > div {
	padding: 8px;
	margin: 8px;
	background-color: #f0f0f0;
	border-radius: 2px;
	border: 1px solid #ccc;
}


.my-widget > div > div > div {
	padding: 8px;
	margin: 8px;
	background-color: #f8f8f8;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.my-widget > div > div > div > div > div {
	padding: 8px;
	margin: 8px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;
}







.demo-table {
	width: 100%;
}


.demo-table tr th {
	border-bottom: 2px solid #ccc;
	padding: 6px;
	text-align: left;
}

.demo-table tr td {
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
	padding: 6px;
}










.menu-bar > li > img {
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 16px;
	vertical-align: middle;
	margin: 9px;
}

/*
.user > a {
	text-decoration: none;
	color: #777;
	position: relative;
	padding: 15px 0;
	float: right;
}

.user:hover > a {
	color: #333;
}
*/
.username > a {
	padding-left: 0 !important;
}




/*
th.resizable:after {
  bottom: 0;
  content: "";
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  background-color: #bbb;
}
*/



/*
.column-dropdown:not(.opened) {
	display: none;
}

.column-dropdown {
	cursor: pointer;
	padding: 8px 6px;
	position: relative;
	vertical-align: middle;
	display: table-cell;
}

.column-dropdown:hover {
	color: #2980b9;
}

.column-dropdown > .dropdown-toggle > .caret {
	margin: 0;
}

th:hover > .column-dropdown {
	display: table-cell;
}
*/




/*
.tool-bar.right > * {
	float: right;
}

.tool-bar.left > * {
	float: right;
}
*/







/*
 * STEP-BOX
 */

/*
ul.step-list {
  list-style: none outside none;
  margin: 0;
  padding: 10px 0;
  counter-reset: idx;
}


ul.step-list > li {
	position: relative;
}


.step-list > li > a:before {
  background-color: #FFFFFF;
  border-radius: 12px;
  color: #BBBBBB;
	counter-increment: idx;
  content: counter(idx);
  display: inline-block;
  font-weight: bold;
  height: 24px;
  line-height: 20px;
  margin-right: 10px;
  text-align: center;
  width: 24px;
  float: left;
}




ul.step-list > li.selected {
	background-color: #ddd;
}

ul.step-list > li.selected > span {
	display: block;
}

ul.step-list > li > a {
	color: #444;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}

ul.step-list > li > span {
	border-right: 10px solid #fff;
	border-top: 10px solid rgba(255,255,255,0);
	border-bottom: 10px solid rgba(255,255,255,0);
	display: none;
	height: 20px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
}





.step-box {
	position: relative;
	padding: 0;
}

.step-box > aside {
  bottom: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 200px;
  background-color: #eee;
	padding: 10px 0;

}


.step-box > aside > i {
	margin: 10px 0;
	color: #888;
}

.step-box > aside > ul {
	text-align: left;
}

.step-box > div {
	margin-left: 200px;
	padding: 10px;
}
*/






/*
.tool-bar {
	padding: 4px;
}
*/

/*
.grid-pagination > .btn {
  height: 28px;
  padding: 0;
  width: 28px;
}

.grid-pagination > input {
	height: 28px;
}
*/


.avatar {
	width: 48px;
	height: 48px;
	border-radius: 48px;
}




.widget {
	margin: 8px;
}








/*
table.grid-view td {
	color: #444;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

table.grid-view th {
  color: #444;
  font-weight: bold;
	padding: 8px;
  text-align: left;

}
*/

/*
table.grid-view thead {
	background-color: #eee;
}
*/




/*
.table-view td {
	color: #444;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.table-view th {
  color: #444;
  font-weight: bold;
	padding: 8px;
  text-align: left;

}
*/




ul.list-view {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.list-view li, .list-view-item {
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
	list-style: none;
}

.list-view-item.drag {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.075);
	background-color: #fff;
}






/*
.drag {
	transition: all 0.05s linear 0s
}
*/


.item-box {
	position: relative;
}

.item-box > .before {
	float: none;
	position: absolute;
	top: 50%;
	left: 0;
}

.item-box > .after {
	float: none;
	position: absolute;
	top: 50%;
	right: 0;
}



.list-box {
	color: #444;
}

.list-box > div {
	padding: 8px 8px;
	border-bottom: 1px solid #e0e0e0;
}

.list-box .remove-btn {
	right: 16px;
}



.icon-box {
	padding: 4px;
	border-radius: 2px;
}

.icon-box.warning {
	color: #fff;
  background-color: #F0AD4E;
}




.tool-box {
	padding: 8px;
}

.tool-box > *:not(:first-child):not(:last-child) {
	margin: 0 8px;
}












.hidden {
	display: none !important;
}



.bar-right {
	text-align: right;
}

.bar-left {
	text-align: left;
}

.bar-center {
	text-align: center;
}




.fluid-right {
	float: right;
}

.fluid-left {
	float: left;
}





/*
[layout="item"] > .addon.pull-right {
	right: 0;
}
*/


.custom-panel {
	padding: 0 8px;
}

.custom-panel .panel-title {
    border-bottom: 1px solid #ccc;
    color: #bbb;
    display: block;
    float: none;
    font-size: 16px;
    padding: 12px 0;
}




.nav-clock {
    color: #777;
    font-size: 24px;
    text-align: center;
}







/*
.box-right {
	text-align: right;
}

.box-left {
	text-align: right;
}

.box-center {
	text-align: center;
}
*/




span.tool-item, .tool-item.link, .tool-item.icon {
  line-height: 1.42857;
  margin-top: 8px;
  margin-bottom: 8px;
}


.large span.tool-item, .large .link.tool-item, .large .icon.tool-item {
  font-size: 18px;
  line-height: 1.33;
  margin-top: 12px;
  margin-bottom: 12px;
}


.large .text-box.tool-item input {
  font-size: 18px;
  line-height: 1.33;
  height: 46px;
}


.small span.tool-item, .small .link.tool-item, .small .icon.tool-item {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 7px;
  margin-bottom: 7px;
}

.small .text-box.tool-item input {
  font-size: 12px;
  line-height: 1.5;
  height: 32px;
}


.tiny span.tool-item, .tiny .link.tool-item, .tiny .icon.tool-item {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 3px;
  margin-bottom: 3px;
}


.tiny .btn.tool-item, .tiny .btn-box.tool-item .btn {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
}


.tiny .text-box.tool-item input {
  font-size: 12px;
  line-height: 1.5;
  height: 24px;
}















.x-divider.horizontal {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 8px 0;
	font-weight: 700;
}

.x-divider.horizontal:before {
	margin-left: calc(-50% - 8px);
}

.x-divider.horizontal:after {
	margin-left: 8px;
}


.x-divider.horizontal:before, .x-divider.horizontal:after {
  border-top: 1px solid #ccc;
  content: "";
  position: absolute;
  width: 50%;
  top: 50%;
}



.x-divider.vertical {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 0 8px;
	font-weight: 700;
}

.x-divider.vertical:before {
/*	margin-left: calc(-50% - 8px);*/
  margin-top: -8px;
  top: 0;
}

.x-divider.vertical:after {
/*	margin-left: 8px;*/
  bottom: 0;
  margin-bottom: -8px;
}


.x-divider.vertical:before, .x-divider.vertical:after {
  border-top: none;
  border-left: 1px solid #ccc;
  content: "";
  position: absolute;
  height: 50%;
  left: 50%;
}











.code-panel {
	position: relative;
	margin-bottom: 20px;

  -webkit-animation-duration: 0.3s !important;
  animation-duration: 0.3s !important;
}

/*
.code-panel:hover .code-tabs {
	opacity: 1;
}
*/

.code-tabs {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ccc;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
/*  opacity: 0;
  transition: opacity 0.2s ease-in 0s;*/
}



.code-tabs > .selected {
    border-bottom: 1px solid #0a80cb;
    color: #fff;
}
.code-tabs > div {
    padding: 4px 8px;
}

.code-tabs > div:hover {
	color: #fff;
}
