
.panel.simple {
	padding: 8px;
}


.panel.simple > header, .widget-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  color: #888;
}


.panel.simple > header .panel-title {
	font-size: 16px;
}



.panel.light {
	padding: 8px;
}


.panel.light > header, .widget-header {
  background-color: #fff;
  border-bottom: none;
  color: #000;
}

.panel.light > header .panel-title {
	padding: 8px;
	font-size: 20px;
}